

.round {
    width: 100%;
    border-radius: 15px;
    border: 1px #5d53e9 solid;
    padding: 5px 5px 5px 5px;
    position: absolute;
    top: 250px;
    left: 0;
    z-index: 5;
}

.corner {
    position: absolute;
    top: 253px;
    right: 0px;
    height: 20px;
    width: 20px;
    z-index: 10;
    border: none;
    background: #ffffff; /* Set the bg image here. with "no-repeat" */
    background-image: url("search_icon.png");
    background-repeat: repeat-y;
    background-size: contain;
}

.search {
    position: relative;
    width: 190px;
    height: 30px;
    margin: auto;
    
}

.title{
	  position: relative;
	  font-family: Arial, Helvetica, sans-serif;
	  margin: auto;
	  text-align: center;
	  top:150px;
}